<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zong.core.dao.CommonMapper">
	<!-- 插入对象指定属性的字段 -->
	<insert id="insert">
		insert into ${table}
		(
		<foreach collection="pd.keys" item="key" separator=",">
			${key}
		</foreach>
		)
		values(
		<foreach collection="pd.keys" item="key" separator=",">
			#{pd.${key}}
		</foreach>
		)
	</insert>
	
	<delete id="delete">
		delete from ${table} where 1=1
		<foreach collection="pd.keys" item="key" separator=",">
			and ${key}=#{pd.${key}}
		</foreach>
	</delete>

	<update id="update">
		update ${table}
		<foreach collection="pd.keys" item="key" open="set" separator=",">
			${key} = #{pd.${key}}
		</foreach>
		where
		<foreach collection="idPd.keys" item="key" separator="and">
			${key} = #{idPd.${key}}
		</foreach>
	</update>

	<select id="find" resultType="com.zong.core.bean.Result">
		select
		<choose>
			<when test="pd.columns!=null">
				<foreach collection="pd.columns" item="k" separator=",">
					${k}
				</foreach>
			</when>
			<otherwise>*</otherwise>
		</choose>
		from ${table} where 1=1
		<foreach collection="pd.keys" item="key">
			<if test='key!="asc" and key!="desc" and key!="like" and key!="columns" and pd[key]!=""'>
				and ${key} = #{pd.${key}}
			</if>
			<if test='key=="like" and pd.like!=null'>
				<foreach collection="pd.like.keys" item="k">
					<if test='pd.like[k]!=null and pd.like[k]!=""'>
						and ${k} like '%${pd.like[k]}%'
					</if>
				</foreach>
			</if>
		</foreach>
		<foreach collection="pd.keys" item="key">
			<if test='key=="asc" or key=="desc"'>
				order by ${pd[key]} ${key}
			</if>
		</foreach>
	</select>
	
	<select id="load" resultType="com.zong.core.bean.Result">
		select
		<choose>
			<when test="pd.columns!=null">
				<foreach collection="pd.columns" item="k" separator=",">
					${k}
				</foreach>
			</when>
			<otherwise>*</otherwise>
		</choose>
		from ${table} where 1=1
		<foreach collection="pd.keys" item="key">
			<if test='key!="asc" and key!="desc" and key!="like" and key!="columns" and pd[key]!=""'>
				and ${key} = #{pd.${key}}
			</if>
		</foreach>
	</select>

	<select id="findPage" resultType="com.zong.core.bean.Result">
		select
		<choose>
			<when test="pd.columns!=null">
				<foreach collection="pd.columns" item="k" separator=",">
					${k}
				</foreach>
			</when>
			<otherwise>*</otherwise>
		</choose>
		from ${table} where 1=1
		<foreach collection="pd.keys" item="key">
			<if test='key!="asc" and key!="desc" and key!="like" and key!="columns" and pd[key]!=""'>
				and ${key} = #{pd.${key}}
			</if>
			<if test='key=="like" and pd.like!=null'>
				<foreach collection="pd.like.keys" item="k">
					<if test='pd.like[k]!=null and pd.like[k]!=""'>
						and ${k} like '%${pd.like[k]}%'
					</if>
				</foreach>
			</if>
		</foreach>
		<foreach collection="pd.keys" item="key">
			<if test='key=="asc" or key=="desc"'>
				order by ${pd[key]} ${key}
			</if>
		</foreach>
	</select>

	<select id="executeSql" resultType="com.zong.core.bean.Result">
		${sql}
	</select>
	
	<select id="findOneSql" resultType="com.zong.core.bean.Result">
		${sql}
	</select>
</mapper>