<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zong.media.dao.MediaMusicMapper" >
  <resultMap id="BaseResultMap" type="com.zong.media.bean.MediaMusic" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="artist" property="artist" jdbcType="VARCHAR" />
    <result column="album" property="album" jdbcType="VARCHAR" />
    <result column="style" property="style" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="length" property="length" jdbcType="INTEGER" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,
    title,
    artist,
    album,
    style,
    remark,
    length,
    size,
    url,
    create_time
  </sql>
  
  <!-- 根据对象主键查询 -->
  <select id="load" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from media_music
    where
    id = #{id,jdbcType=VARCHAR} 
  </select>
  
  <!-- 根据条件分页查询 -->
  <select id="findMediaMusicPage" resultMap="BaseResultMap" >
    select * from media_music where 1 = 1
    <if test='pd.keyword != null and pd.keyword != ""'>
    	and (title like concat(concat('%', #{pd.keyword}),'%') or artist like concat(concat('%', #{pd.keyword}),'%'))
    </if>
  </select>
  
  <!-- 根据条件查询全部 -->
  <select id="findMediaMusic" resultMap="BaseResultMap" >
    select * from media_music where 1 = 1
    <if test='keyword != null and keyword != ""'>
    </if>
  </select>
  
  <!-- 根据对象主键删除 -->
  <delete id="delete" >
    delete from media_music
    where
    id = #{id,jdbcType=VARCHAR} 
  </delete>
  
  <!-- 插入对象全部属性的字段 -->
  <insert id="insert" parameterType="com.zong.media.bean.MediaMusic" >
    insert into media_music (<include refid="Base_Column_List" />)
    values( 
    	#{id,jdbcType=VARCHAR},
    	#{title,jdbcType=VARCHAR},
    	#{artist,jdbcType=VARCHAR},
    	#{album,jdbcType=VARCHAR},
    	#{style,jdbcType=VARCHAR},
    	#{remark,jdbcType=VARCHAR},
    	#{length,jdbcType=INTEGER},
    	#{size,jdbcType=INTEGER},
    	#{url,jdbcType=VARCHAR},
    	#{createTime,jdbcType=TIMESTAMP}
  	)
  </insert>
  
  <!-- 根据主键更新对象不为空属性的字段 -->
  <update id="update" parameterType="com.zong.media.bean.MediaMusic" >
    update media_music
    <set>
      	<if test="title != null" >
        	title = #{title,jdbcType=VARCHAR},
      	</if>
      	<if test="artist != null" >
        	artist = #{artist,jdbcType=VARCHAR},
      	</if>
      	<if test="album != null" >
        	album = #{album,jdbcType=VARCHAR},
      	</if>
      	<if test="style != null" >
        	style = #{style,jdbcType=VARCHAR},
      	</if>
      	<if test="remark != null" >
        	remark = #{remark,jdbcType=VARCHAR},
      	</if>
      	<if test="length != null" >
        	length = #{length,jdbcType=INTEGER},
      	</if>
      	<if test="size != null" >
        	size = #{size,jdbcType=INTEGER},
      	</if>
      	<if test="url != null" >
        	url = #{url,jdbcType=VARCHAR},
      	</if>
      	<if test="createTime != null" >
        	create_time = #{createTime,jdbcType=TIMESTAMP},
      	</if>
    </set>
    where
    id = #{id,jdbcType=VARCHAR} 
  </update>
</mapper>