<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zong.media.dao.MediaPhotoMapper" >
  <resultMap id="BaseResultMap" type="com.zong.media.bean.MediaPhoto" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="tabs" property="tabs" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,
    name,
    cover,
    tabs,
    remark,
    status,
    create_time,
    update_time
  </sql>
  
  <!-- 根据对象主键查询 -->
  <select id="load" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from media_photo
    where
    id = #{id,jdbcType=VARCHAR} 
  </select>
  
  <!-- 根据条件分页查询 -->
  <select id="findMediaPhotoPage" resultMap="BaseResultMap" >
    select * from media_photo where 1 = 1
    <if test='pd.keyword != null and pd.keyword != ""'>
    	and name like concat(concat('%', #{pd.keyword}),'%')
    </if>
    order by create_time desc
  </select>
  
  <!-- 根据条件查询全部 -->
  <select id="findMediaPhoto" resultMap="BaseResultMap" >
    select * from media_photo where 1 = 1
    <if test='keyword != null and keyword != ""'>
    </if>
  </select>
  
  <!-- 根据对象主键删除 -->
  <delete id="delete" >
    delete from media_photo
    where
    id = #{id,jdbcType=VARCHAR} 
  </delete>
  
  <!-- 插入对象全部属性的字段 -->
  <insert id="insert" parameterType="com.zong.media.bean.MediaPhoto" >
    insert into media_photo (<include refid="Base_Column_List" />)
    values( 
    	#{id,jdbcType=VARCHAR},
    	#{name,jdbcType=VARCHAR},
    	#{cover,jdbcType=VARCHAR},
    	#{tabs,jdbcType=VARCHAR},
    	#{remark,jdbcType=VARCHAR},
    	#{status,jdbcType=VARCHAR},
    	#{createTime,jdbcType=TIMESTAMP},
    	#{updateTime,jdbcType=TIMESTAMP}
  	)
  </insert>
  
  <!-- 根据主键更新对象不为空属性的字段 -->
  <update id="update" parameterType="com.zong.media.bean.MediaPhoto" >
    update media_photo
    <set>
      	<if test="name != null" >
        	name = #{name,jdbcType=VARCHAR},
      	</if>
      	<if test="cover != null" >
        	cover = #{cover,jdbcType=VARCHAR},
      	</if>
      	<if test="tabs != null" >
        	tabs = #{tabs,jdbcType=VARCHAR},
      	</if>
      	<if test="remark != null" >
        	remark = #{remark,jdbcType=VARCHAR},
      	</if>
      	<if test="status != null" >
        	status = #{status,jdbcType=VARCHAR},
      	</if>
      	<if test="createTime != null" >
        	create_time = #{createTime,jdbcType=TIMESTAMP},
      	</if>
      	<if test="updateTime != null" >
        	update_time = #{updateTime,jdbcType=TIMESTAMP},
      	</if>
    </set>
    where
    id = #{id,jdbcType=VARCHAR} 
  </update>
</mapper>