<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zong.admin.system.dao.SysRoleMenuMapper" >
  <resultMap id="BaseResultMap" type="com.zong.admin.system.bean.SysRoleMenu" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="menu_id" property="menuId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,
    role_id,
    menu_id
  </sql>
  
  <!-- 根据条件查询全部 -->
  <select id="findSysRoleMenu" resultMap="BaseResultMap" >
    select * from sys_role_menu where 1 = 1 and role_id=#{roleId}
  </select>
  <!-- 根据角色id删除 -->
  <delete id="deleteByRole" >
    delete from sys_role_menu
    where
    role_id = #{roleId,jdbcType=VARCHAR} 
  </delete>
  
  <!-- 根据菜单id删除 -->
  <delete id="deleteByMenu" >
    delete from sys_role_menu
    where
    menu_id = #{menuId,jdbcType=VARCHAR} 
  </delete>
  
  <!-- 插入对象全部属性的字段 -->
  <insert id="insert" parameterType="com.zong.admin.system.bean.SysRoleMenu" >
    insert into sys_role_menu (<include refid="Base_Column_List" />)
    values( 
    	#{id,jdbcType=VARCHAR},
    	#{roleId,jdbcType=VARCHAR},
    	#{menuId,jdbcType=VARCHAR}
  	)
  </insert>
</mapper>